* {
    margin:0;
    padding:0;
}

body {
    position: absolute;
    font-family: "Franklin Gothic Medium", "Goudy Type", "Calibri", sans-serif;
    font-size: 32px;
    background-color: #36454F;
    color: #007FFF;
}

header,
footer {
    height: 80px;
    width: 100%;
    line-height: 50px;
    background-color: #007FFF;
    color: #FFDF00
}

header {
    position: static;
    border-bottom: 5px solid #FFDF00;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
    /*color: #FFDF00;*/
}

a {
    text-decoration: none;
    margin: 20px;
    color: #FFDF00;
}

img {
    position: relative;
    width: 100%;
    image-resolution: ;
}

p {
    font-size: 24px;
}

/* Classes */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}